# Firebase
google-services.json

# Android
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex
bin/
gen/
out/
.navigation/
*.log
*.hprof

# Kotlin
*.class

# Documentation (audit/report files)
*.md

# IDE
*.swp
*swo
*~
.project
.classpath
.settings/
